<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>발주목록</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/sidebar.css}" />
  <link rel="stylesheet" th:href="@{/css/order_list.css}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
 
</head>
<body>
  <!-- 사이드바 + 헤더 -->
  <div th:replace="fragments/sidebar :: layout"></div>
  
	<!-- 본문 콘텐츠 삽입 -->
  <div th:replace="order/order_list_view :: view"></div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script th:src="@{/js/sidebar.js}"></script>
  <script>
  function go_add() {
	  if (confirm('주문신청 페이지로 이동 하시겠습니까?')) {
	    alert('주문신청 페이지로 이동되었습니다.');
	    location.href = './orderok.html';
	  }
	}

  window.onload = function () {
	    var checkall = document.getElementById("order_all");     // 전체 선택 박스
	    var checkitems = document.querySelectorAll(".check_item");  // 개별 선택 박스들

	    // 전체 선택 박스를 클릭했을 때
	    checkall.onclick = function () {
	    	checkitems.forEach(function (checkbox) {
	        checkbox.checked = checkall.checked;
	      });
	    };

	    // 개별 체크박스를 클릭했을 때
	    checkitems.forEach(function (checkbox) {
	      checkbox.onclick = function () {
	        // 만약 하나라도 체크 해제되면 전체 선택도 해제
	        if (!checkbox.checked) {
	          checkall.checked = false;
	        } else {
	          // 전부 다 체크된 경우에만 전체선택 체크
	          var allChecked = Array.from(checkitems).every(cb => cb.checked);
	          checkall.checked = allChecked;
	        }
	      };
	    });
	  };
	  
function go_delete() {
		// 모든 체크박스(class="check_item") 가져오기
		 var checkboxes = document.querySelectorAll(".check_item");
		 var check_delete = 0;

		 checkboxes.forEach(function (checkbox) {
			    if (checkbox.checked) {
			    	check_delete ++;
			      checkbox.checked = false; // 체크 해제 (삭제처럼 처리)
			    }
			  });

		 if (check_delete > 0) {
			    if (confirm('선택한 주문건을 삭제 하시겠습니까?')) {
			      alert("선택된 주문건이 삭제되었습니다.");
			      document.getElementById("order_all").checked = false;
			      frk
			      location.href = './order_list.html'; // 실제 이동 원하면 여기에
			    }
			  } else {
			    alert("삭제할 항목을 선택하세요.");
			  }
			}
  
</script>
</body>
</html>
