<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.codea.item.item_mapper">

<!-- insert -->
<!-- 제품정보 -->

  <insert id="insert_item" parameterType="kr.co.codea.item.itemDTO">
  INSERT INTO ITEM (
        ITEM_CODE, ITEM_NAME, ITEM_TYPE, ITEM_CAT_L, 
        ITEM_CAT_S, UNIT_CODE, SPEC, REMARK
    ) VALUES (
        #{itemCode}, #{itemName}, #{itemType}, #{itemCatL}, #{itemCatS},
       #{unitCode},#{spec}, #{reMark}
    )
</insert>

<!-- 거래처 추가   -->
  <insert id="insert_partner" parameterType="kr.co.codea.item.itemDTO">
  INSERT INTO BUSINESS_PARTNER (
        BP_NAME, BP_CODE, TEL
    ) VALUES (
        #{bpName}, #{bpCode}, #{Tel}
    )
</insert>


<!-- 제품목록 , 검색 조회  
 resultType="kr.co.codea.item.item_list_DTO"
-->
<select id="item_select"  parameterType="String"  resultMap="itemListResultMap">   
SELECT 
  A.ITEM_CODE,
  A.ITEM_NAME,
  A.ITEM_CAT_L,
  A.ITEM_CAT_S,
  A.SPEC,
  A.REMARK,
  B.INVENTORY_CODE,
  B.CURRENT_QTY,
  B.WH_ID,
  C.WH_CODE,
  D.PRICE
FROM ITEM A
LEFT JOIN INVENTORY B ON A.ITEM_ID = B.ITEM_ID
LEFT JOIN WAREHOUSE C ON B.WH_ID = C.WH_ID
LEFT JOIN (
  SELECT *
  FROM (
    SELECT 
      ITEM_ID, PRICE,
      ROW_NUMBER() OVER (PARTITION BY ITEM_ID ORDER BY PRICE_DATE DESC) AS RN
    FROM PARTNER_ITEM
  )
  WHERE RN = 1
) D ON A.ITEM_ID = D.ITEM_ID

<where>
  <if test="keyword != null and keyword != ''">
 AND (
      A.ITEM_NAME LIKE CONCAT('%', #{keyword}, '%')
      OR A.ITEM_CODE LIKE CONCAT('%', #{keyword}, '%')
      OR A.ITEM_CAT_L LIKE CONCAT('%', #{keyword}, '%')
      OR A.ITEM_CAT_S LIKE CONCAT('%', #{keyword}, '%')
      OR A.SPEC LIKE CONCAT('%', #{keyword}, '%')
      OR A.REMARK LIKE CONCAT('%', #{keyword}, '%')
      OR B.INVENTORY_CODE LIKE CONCAT('%', #{keyword}, '%')
      OR C.WH_CODE LIKE CONCAT('%', #{keyword}, '%')
    )
</if>
</where>
</select>

<!-- 거래처 조회(비즈니스 파트너)-->
<select id="bp_select"  parameterType="String"  resultMap="itemListResultMap">
SELECT 
BP_NAME, 
BP_CODE,
TEL
FROM
BUSINESS_PARTNER
</select>

<!-- 대분류 소분류 칼럼(ITEM-CATEGORY)  -->
<select id="item_cg_select"  parameterType="String"  resultMap="itemListResultMap">
SELECT 
  i.ITEM_CODE,
  i.ITEM_NAME,
  catL.CATEGORY_NAME AS ITEM_CAT_L_NAME,
  catS.CATEGORY_NAME AS ITEM_CAT_S_NAME
FROM ITEM i
LEFT JOIN ITEM_CATEGORY catL ON i.ITEM_CAT_L = catL.CATEGORY_ID
LEFT JOIN ITEM_CATEGORY catS ON i.ITEM_CAT_S = catS.CATEGORY_ID
</select>

<!-- 대분류만 뽑기 -->
<select id="selectCatL" resultType="itemDTO">
  SELECT CATEGORY_ID, CATEGORY_NAME
  FROM ITEM_CATEGORY
  WHERE CATEGORY_LEVEL = 1
</select>

<!-- 소분류만 뽑기 -->
<select id="selectCatS" resultType="itemDTO">
  SELECT CATEGORY_ID, CATEGORY_NAME, PARENT_ID
  FROM ITEM_CATEGORY
  WHERE CATEGORY_LEVEL = 2
</select>

<!-- 단위뽑기

  c.CODE_DESC AS UNIT_NAME =>별명 잡음(단위이름)
 -->
<select  id="unitcode_list" resultType="itemDTO">
  SELECT CODE_ID, CODE_DESC
  FROM COMMON_CODE
  WHERE CODE_TYPE = 'UNIT_CODE'
</select>


<!-- resultMap -->
<resultMap id="itemListResultMap" type="kr.co.codea.item.itemDTO">
    <result property="itemCode" column="ITEM_CODE"/>
    <result property="itemName" column="ITEM_NAME"/>
    <result property="itemCatL" column="ITEM_CAT_L"/>
    <result property="itemCatS" column="ITEM_CAT_S"/>
    <result property="spec" column="SPEC"/>
    <result property="reMark" column="REMARK"/>
    <result property="inventoryCode" column="INVENTORY_CODE"/>
    <result property="currentQty" column="CURRENT_QTY"/>
    <result property="whId" column="WH_ID"/>
    <result property="whCode" column="WH_CODE"/>
    <result property="price" column="PRICE"/>
    <result property="unitCode" column="UNIT_CODE"/>
    
    <result property="bpCode" column="BP_CODE"/>
    <result property="bpName" column="BP_NAME"/>
    <result property="Tel" column="TEL"/>
    
    <result property="itemCatLName" column="ITEM_CAT_L_NAME"/>
    <result property="itemCatSName" column="ITEM_CAT_S_NAME"/>
    
     <result property="categoryId" column="CATEGORY_ID"/>
     
   <result property="codeId" column="CODE_ID" />
  <result property="codeDesc" column="CODE_DESC" />
    
</resultMap>
</mapper>