<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.codea.item.item_mapper">

<!-- insert -> 재품등록 조회  -->
  <insert id="insert_item" parameterType="kr.co.codea.item.item_list_DTO">
INSERT INTO ITEM (
    ITEM_ID,UNIT_CODE,ITEM_CODE,ITEM_NAME,ITEM_TYPE,ITEM_CAT_L,ITEM_CAT_S
)
VALUES (
    #{ITEM_ID},
    #{UNIT_CODE},
    #{ITEM_CODE}, 
    #{ITEM_NAME},
    #{ITEM_TYPE},
    #{ITEM_CAT_L},
    #{ITEM_CAT_S}
)
</insert>

<!-- 제품목록 조회  
 resultType="kr.co.codea.item.item_list_DTO"
-->
<select id="item_select"  parameterType="String"  resultMap="itemListResultMap">   
SELECT 
  A.ITEM_CODE,
  A.ITEM_NAME,
  A.ITEM_CAT_L,
  A.ITEM_CAT_S,
  A.SPEC,
  A.REMARK,
  B.INVENTORY_CODE,
  B.CURRENT_QTY,
  B.WH_ID,
  C.WH_CODE,
  D.PRICE
FROM ITEM A
LEFT JOIN INVENTORY B ON A.ITEM_ID = B.ITEM_ID
LEFT JOIN WAREHOUSE C ON B.WH_ID = C.WH_ID
LEFT JOIN (
  SELECT *
  FROM (
    SELECT 
      ITEM_ID, PRICE,
      ROW_NUMBER() OVER (PARTITION BY ITEM_ID ORDER BY PRICE_DATE DESC) AS RN
    FROM PARTNER_ITEM
  )
  WHERE RN = 1
) D ON A.ITEM_ID = D.ITEM_ID

<where>
  <if test="keyword != null and keyword != ''">
 AND (
      A.ITEM_NAME LIKE CONCAT('%', #{keyword}, '%')
      OR A.ITEM_CODE LIKE CONCAT('%', #{keyword}, '%')
      OR A.ITEM_CAT_L LIKE CONCAT('%', #{keyword}, '%')
      OR A.ITEM_CAT_S LIKE CONCAT('%', #{keyword}, '%')
      OR A.SPEC LIKE CONCAT('%', #{keyword}, '%')
      OR A.REMARK LIKE CONCAT('%', #{keyword}, '%')
      OR B.INVENTORY_CODE LIKE CONCAT('%', #{keyword}, '%')
      OR C.WH_CODE LIKE CONCAT('%', #{keyword}, '%')
    )
</if>
</where>
</select>




<!-- resultMap -->
<resultMap id="itemListResultMap" type="kr.co.codea.item.item_list_DTO">
    <result property="itemCode" column="ITEM_CODE"/>
    <result property="itemName" column="ITEM_NAME"/>
    <result property="itemCatL" column="ITEM_CAT_L"/>
    <result property="itemCatS" column="ITEM_CAT_S"/>
    <result property="spec" column="SPEC"/>
    <result property="reMark" column="REMARK"/>
    <result property="inventoryCode" column="INVENTORY_CODE"/>
    <result property="currentQty" column="CURRENT_QTY"/>
    <result property="whId" column="WH_ID"/>
    <result property="whCode" column="WH_CODE"/>
    <result property="price" column="PRICE"/>
</resultMap>
</mapper>