<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.codea.bom.bom_mapper">

 <!-- BOM_HEADER 등록 -->
 <!--BOM항목을 불러오기 위한 리스트 -->
 <select id="bom_item_list_y" parameterType="string" resultType="kr.co.codea.bom.bomDTO" resultMap="bomItemResultMap">

 SELECT
    I.ITEM_ID,
    I.ITEM_CODE,
    I.ITEM_NAME,
    I.SPEC,
    I.UNIT_CODE,
    C.CODE AS UNIT_NAME
FROM ITEM I
LEFT JOIN COMMON_CODE C
    ON I.UNIT_CODE = C.CODE_ID
   AND C.CODE_TYPE = 'UNIT_CODE'
WHERE I.ITEM_TYPE = '완제품'
ORDER BY I.ITEM_CODE
 </select>
 
 <!--BOM 등록파트  -->

  <insert id="insert_bom_header" parameterType="kr.co.codea.bom.bomDTO">
    INSERT INTO BOM_HEADER (
      BOM_HEADER_ID,
      ITEM_ID,
      VERSION,
      DESCRIPTION,
      CREATED_AT
    ) VALUES (
      #{bomCode},
      #{itemId},
      #{version},
      #{description},
      SYSDATE
    )
  </insert>

   
  <!-- BOM_DETAIL 등록 --> 
  <insert id="insert_bom_detail" parameterType="kr.co.codea.bom.bomDTO">
    INSERT INTO BOM_DETAIL (
      DETAIL_ID,
      BOM_HEADER_ID,
      CHILD_ID,
      QUANTITY,
      PRICE,
      LOSS_RATE
    ) VALUES (
      BOM_DETAIL_SEQ.NEXTVAL,
      #{bomCode},
      #{childId},
      #{quantity},
      #{price},
      #{lossRate}
    )
  </insert>
  
 <!--BOM 전체삭제 -->  

 <!-- 2. BOM_HEADER 삭제 -->
<delete id="delete_bom_header" parameterType="String">
  DELETE FROM BOM_HEADER
  WHERE BOM_HEADER_ID = #{bomCode}
</delete>


<!-- 1. BOM_DETAIL 삭제 -->
<delete id="delete_bom_detail" parameterType="String">
  DELETE FROM BOM_DETAIL
  WHERE BOM_HEADER_ID = #{bomCode}
</delete>

   
<!-- 조회항목  -->
<!-- 완재품 항목조회  -->
<select id="bom_item_type_y" parameterType="string" resultType="kr.co.codea.bom.bomDTO" resultMap="bomItemResultMap">
SELECT 
    H.BOM_HEADER_ID AS bomCode,  
    I.ITEM_ID,
    I.ITEM_CODE,
    I.ITEM_NAME,
    I.ITEM_TYPE,
    I.ITEM_CAT_L,
    I.ITEM_CAT_S,
    I.UNIT_CODE,
    C.CODE  AS UNIT_NAME,  
    I.SPEC,
    I.REMARK
FROM BOM_HEADER H
JOIN ITEM I 
    ON H.ITEM_ID = I.ITEM_ID
LEFT JOIN COMMON_CODE C 
    ON I.UNIT_CODE = C.CODE_ID
    AND C.CODE_TYPE = 'UNIT_CODE'
WHERE I.ITEM_TYPE = '완제품'
</select>

<!-- 완자재 항목조회  -->
<select id="bom_item_type_j" parameterType="string" resultType="kr.co.codea.bom.bomDTO" resultMap="bomItemResultMap">
SELECT 
    B.BOM_HEADER_ID     AS bomCode,        
    A.ITEM_CODE         AS materialCode,   
    A.ITEM_NAME         AS materialName,   
    A.SPEC              AS spec,          
    C.CODE              AS unitName,        
    A.PRICE             AS price,           
    B.QUANTITY          AS quantity        
FROM BOM_DETAIL B
JOIN ITEM A 
    ON B.CHILD_ID = A.ITEM_ID
LEFT JOIN COMMON_CODE C
    ON A.UNIT_CODE = C.CODE_ID
    AND C.CODE_TYPE = 'UNIT_CODE'
WHERE A.ITEM_TYPE = '원자재'
</select>

<!-- 완제품 조회 (1건) -->
<select id="selectBomProductByCode" resultType="kr.co.codea.bom.bomDTO">
SELECT 
    H.BOM_HEADER_ID AS bomCode,
    I.ITEM_CODE     AS productCode,
    I.ITEM_NAME     AS productName,
    I.SPEC,
    CC.CODE_DESC    AS unitName
FROM BOM_HEADER H
JOIN ITEM I ON H.ITEM_ID = I.ITEM_ID
LEFT JOIN COMMON_CODE CC ON I.UNIT_CODE = CC.CODE_ID AND CC.CODE_TYPE = 'UNIT_CODE'
WHERE H.BOM_HEADER_ID = #{bomCode}
</select>

<!-- 자재 리스트 조회 -->
<!-- 
SELECT
    B.BOM_HEADER_ID AS bomCode,
    CI.ITEM_CODE    AS materialCode,
    CI.ITEM_NAME    AS materialName,
    CI.SPEC         AS spec,
    CC.CODE_DESC    AS unitName,
    CI.PRICE        AS price,
    B.QUANTITY      AS quantity
FROM BOM_DETAIL B
JOIN ITEM CI ON B.CHILD_ID = CI.ITEM_ID
LEFT JOIN COMMON_CODE CC ON CI.UNIT_CODE = CC.CODE_ID AND CC.CODE_TYPE = 'UNIT_CODE'
WHERE B.BOM_HEADER_ID = #{bomCode}

 -->
<select id="selectBomMaterialList" resultType="kr.co.codea.bom.bomDTO">
SELECT
    B.BOM_HEADER_ID AS bomCode,
    CI.ITEM_CODE    AS materialCode, 
    CI.ITEM_NAME    AS materialName, 
    CI.SPEC         AS spec,       
    CC.CODE_DESC    AS unitName,    
    CI.PRICE        AS price,        
    B.QUANTITY      AS quantity    
FROM BOM_DETAIL B
JOIN ITEM CI 
    ON B.CHILD_ID = CI.ITEM_ID
LEFT JOIN COMMON_CODE CC 
    ON CI.UNIT_CODE = CC.CODE_ID      
    AND CC.CODE_TYPE = 'UNIT_CODE'
WHERE B.BOM_HEADER_ID = #{bomCode}    
</select>


<!-- bom 주문목록 -->
<select id="selectBomList" resultType="kr.co.codea.bom.bomDTO" resultMap="bomItemResultMap">
SELECT
    H.BOM_HEADER_ID        AS bomCode,
    I.ITEM_CODE            AS productCode,
    I.ITEM_NAME            AS productName,
    C.ITEM_CODE            AS materialCode,
    C.ITEM_NAME            AS materialName,
    C.SPEC                 AS spec,
    CC.CODE                AS unitUnicode,  
    CC.CODE_DESC           AS unitName2,     
    D.PRICE                AS price,
    D.QUANTITY             AS quantity,
    h. DESCRIPTION         AS reMark
FROM BOM_HEADER H
JOIN ITEM I ON H.ITEM_ID = I.ITEM_ID        
JOIN BOM_DETAIL D ON H.BOM_HEADER_ID = D.BOM_HEADER_ID
JOIN ITEM C ON D.CHILD_ID = C.ITEM_ID        
LEFT JOIN COMMON_CODE CC 
  ON C.UNIT_CODE = CC.CODE_ID               
  AND CC.CODE_TYPE = 'UNIT_CODE'
ORDER BY H.BOM_HEADER_ID, D.DETAIL_ID
</select>


<!-- bom 수정파트 -->
<!-- 수정파트는 자재삭제 , 수정 같이 필요함  -->
<!-- 기존 자재 삭제 -->
<delete id="delete_bom_details" parameterType="String">
  DELETE FROM BOM_DETAIL
  WHERE BOM_HEADER_ID = #{bomCode}
</delete>

<!-- 자재 다시 등록 -->
<insert id="modify_bom_detail" parameterType="kr.co.codea.bom.bomDTO">
  INSERT INTO BOM_DETAIL (
    BOM_HEADER_ID, 
    CHILD_ID,
    QUANTITY,
    PRICE
  ) VALUES (
    #{bomHeaderId},
    (SELECT ITEM_ID FROM ITEM WHERE ITEM_CODE = #{materialCode}),
    #{quantity},
    #{price}
  )
</insert>

<!-- bom 상세정보(완제품) -->
<!-- 
SELECT
    H.BOM_HEADER_ID        AS bomCode,
    I.ITEM_CODE            AS productCode,
    I.ITEM_NAME            AS productName,
    C.ITEM_CODE            AS materialCode,
    C.ITEM_NAME            AS materialName,
    C.SPEC                 AS spec,
    CC.CODE                AS unitUnicode,  
    CC.CODE_DESC           AS unitName,     
    D.PRICE                AS price,
    D.QUANTITY             AS quantity,
    h.REMARK                AS reMark
FROM BOM_HEADER H
JOIN ITEM I ON H.ITEM_ID = I.ITEM_ID        
JOIN BOM_DETAIL D ON H.BOM_HEADER_ID = D.BOM_HEADER_ID
JOIN ITEM C ON D.CHILD_ID = C.ITEM_ID        
LEFT JOIN COMMON_CODE CC 
  ON C.UNIT_CODE = CC.CODE_ID               
  AND CC.CODE_TYPE = 'UNIT_CODE'
ORDER BY H.BOM_HEADER_ID, D.DETAIL_ID
 -->

<!--단일헤더 조회(bom 코드만)  -->
<select id="selectBomHeaderByCode" parameterType="String" resultType="kr.co.codea.bom.bomDTO">
  SELECT 
    H.BOM_HEADER_ID    AS bomCode,
    I.ITEM_CODE        AS productCode,
    I.ITEM_NAME        AS productName,
    I.SPEC             AS spec,
    CC.CODE            AS unitName,
    H.REMARK           AS reMark
  FROM BOM_HEADER H
  JOIN ITEM I ON H.ITEM_ID = I.ITEM_ID
  LEFT JOIN COMMON_CODE CC 
    ON I.UNIT_CODE = CC.CODE_ID AND CC.CODE_TYPE = 'UNIT_CODE'
  WHERE H.BOM_HEADER_ID = #{bomCode}
</select> 

<select id="edite_bom_detail" parameterType="String" resultType="kr.co.codea.bom.bomDTO">
  SELECT
    B.BOM_HEADER_ID AS bomCode,
    C.ITEM_CODE     AS materialCode,
    C.ITEM_NAME     AS materialName,
    C.SPEC          AS spec,
    CC.CODE_DESC    AS unitCode,
    C.PRICE         AS price,
    B.QUANTITY      AS quantity
  FROM BOM_DETAIL B
  JOIN ITEM C ON B.CHILD_ID = C.ITEM_ID
  LEFT JOIN COMMON_CODE CC ON C.UNIT_CODE = CC.CODE_ID AND CC.CODE_TYPE = 'UNIT_CODE'
  WHERE B.BOM_HEADER_ID = #{bomCode}
</select>


<!-- BOM edit -->

<!-- BOM을 수정하기 위해 불러오는 항목 -->
<!-- 제품목록 -->
<select id="select_bom_by_bom" parameterType="String" resultType="kr.co.codea.bom.bomDTO">
SELECT *
FROM BOM_HEADER
WHERE BOM_HEADER_ID =#{bomCode}
</select>
<!-- 자재목록 -->
<!--
<select id="select_bom_by_bom_j" parameterType="String" resultType="kr.co.codea.bom.bomDTO">
SELECT *
FROM BOM_HEADER
WHERE BOM_HEADER_ID =#{bomCode}
</select>
  -->

<!-- resultMap -->
<resultMap id="bomItemResultMap" type="kr.co.codea.bom.bomDTO" >
    <result property="itemId" column="ITEM_ID"/>
    <result property="itemCode" column="ITEM_CODE"/>
    <result property="itemName" column="ITEM_NAME"/>
    <result property="itemType" column="ITEM_TYPE"/>
    <result property="itemCatL" column="ITEM_CAT_L"/>
    <result property="itemCatS" column="ITEM_CAT_S"/>
    <result property="unitCode" column="UNIT_CODE"/>
    <result property="unitName" column="UNIT_NAME"/>
    <result property="spec" column="SPEC"/>
    <result property="reMark" column="REMARK"/>
    <result property="unitName2" column="unitName2"/>
    
    <result property="bomCode" column="bomCode"/>
    <result property="productCode" column="productCode"/>
    <result property="productName" column="productName"/>
    
    <result property="materialCode" column="materialCode"/>
    <result property="materialName" column="materialName"/>
    
    
    
    
</resultMap>
</mapper>