<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.codea.bom.bom_mapper">

 <!-- BOM_HEADER 등록 -->
  <insert id="insertBomHeader" parameterType="kr.co.codea.bom.bomDTO">
    INSERT INTO BOM_HEADER (
      BOM_HEADER_ID,
      ITEM_ID,
      VERSION,
      DESCRIPTION,
      CREATED_AT
    ) VALUES (
      #{bomHeaderId},
      #{itemId},
      #{version},
      #{description},
      SYSDATE
    )
  </insert>

  <!-- BOM_DETAIL 등록 -->
  <insert id="insertBomDetail" parameterType="kr.co.codea.bom.bomDTO">
    INSERT INTO BOM_DETAIL (
      DETAIL_ID,
      BOM_HEADER_ID,
      CHILD_ID,
      QUANTITY,
      PRICE,
      LOSS_RATE
    ) VALUES (
      BOM_DETAIL_SEQ.NEXTVAL,
      #{bomHeaderId},
      #{childId},
      #{quantity},
      #{price},
      #{lossRate}
    )
  </insert>

<!-- 완재품 항목조회  -->
<select id="bom_item_type_y" parameterType="string" resultType="kr.co.codea.bom.bomDTO" resultMap="bomItemResultMap">
SELECT 
    I.ITEM_ID,
    I.ITEM_CODE,
    I.ITEM_NAME,
    I.ITEM_TYPE,
    I.ITEM_CAT_L,
    I.ITEM_CAT_S,
    I.UNIT_CODE,
    TO_CHAR(I.UNIT_CODE) || ' (' || C.CODE_DESC || ')' AS UNIT_NAME,
    I.SPEC,
    I.REMARK
FROM ITEM I
LEFT JOIN COMMON_CODE C
    ON TO_CHAR(I.UNIT_CODE) = C.CODE
    AND C.CODE_TYPE = 'UNIT_CODE'
WHERE I.ITEM_TYPE = '완제품'
</select>


<!-- 완자재 항목조회  -->
<select id="bom_item_type_j" parameterType="string" resultType="kr.co.codea.bom.bomDTO" resultMap="bomItemResultMap">
SELECT 
    I.ITEM_ID,
    I.ITEM_CODE,
    I.ITEM_NAME,
    I.ITEM_TYPE,
    I.ITEM_CAT_L,
    I.ITEM_CAT_S,
    I.UNIT_CODE,
    TO_CHAR(I.UNIT_CODE) || ' (' || C.CODE_DESC || ')' AS UNIT_NAME,
    I.SPEC,
    I.REMARK
FROM ITEM I
LEFT JOIN COMMON_CODE C
    ON TO_CHAR(I.UNIT_CODE) = C.CODE
    AND C.CODE_TYPE = 'UNIT_CODE'
WHERE I.ITEM_TYPE = '원자재'
</select>

<!-- bom 주문목록 -->
<select id="selectBomList" resultType="kr.co.codea.bom.bomDTO">
  SELECT
    H.BOM_HEADER_ID        AS bomCode,
    I.ITEM_CODE            AS productCode,
    I.ITEM_NAME            AS productName,
    C.ITEM_CODE            AS materialCode,
    C.ITEM_NAME            AS materialName,
    C.SPEC                 AS spec,
    CC.CODE_DESC           AS unitName,
    D.PRICE                AS price,
    D.QUANTITY             AS quantity
  FROM BOM_HEADER H
  JOIN ITEM I ON H.ITEM_ID = I.ITEM_ID        
  JOIN BOM_DETAIL D ON H.BOM_HEADER_ID = D.BOM_HEADER_ID
  JOIN ITEM C ON D.CHILD_ID = C.ITEM_ID        
  LEFT JOIN COMMON_CODE CC 
    ON TO_CHAR(C.UNIT_CODE) = CC.CODE
    AND CC.CODE_TYPE = 'UNIT_CODE'
  ORDER BY H.BOM_HEADER_ID, D.DETAIL_ID
</select>

<!-- resultMap -->
<resultMap id="bomItemResultMap" type="kr.co.codea.bom.bomDTO" >
    <result property="itemId" column="ITEM_ID"/>
    <result property="itemCode" column="ITEM_CODE"/>
    <result property="itemName" column="ITEM_NAME"/>
    <result property="itemType" column="ITEM_TYPE"/>
    <result property="itemCatL" column="ITEM_CAT_L"/>
    <result property="itemCatS" column="ITEM_CAT_S"/>
    <result property="unitCode" column="UNIT_CODE"/>
    <result property="unitName" column="UNIT_NAME"/>
    <result property="spec" column="SPEC"/>
    <result property="reMark" column="REMARK"/>

</resultMap>
</mapper>