body {
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden;
}


.main-content {
  padding: 2rem;
  transition: margin-left 0.3s ease;
}

.main-content.shifted {
  margin-left: 250px;
}

.table th, .table td {
  vertical-align: middle;
  text-align: center;
}

.btn-group-bottom {
  margin-top: 1rem;
  text-align: right;
}