.table th {
	background: #f1f3f5 !important;
	color: #495057 !important;
	width: 160px;
	vertical-align: middle;
}

.content {
	margin-left: 0;
	padding: 2rem 1rem 1rem 1rem;
	transition: margin-left 0.3s;
}