<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.codea.inventory.InventoryMapper">

<!-- 목록 페이지 -->
<select id="inv_list" resultType="kr.co.codea.inventory.InventoryDTO">
SELECT A.INVENTORY_ID, A.INVENTORY_CODE, B.ITEM_CODE, B.ITEM_NAME, B.ITEM_TYPE, B.SPEC, A.AVERAGE_COST, A.CURRENT_QTY, E.CODE, C.WH_NAME, C.WH_CODE, D.EMP_NAME
FROM INVENTORY A
JOIN ITEM B ON A.ITEM_ID = B.ITEM_ID
JOIN WAREHOUSE C ON A.WH_ID = C.WH_ID
JOIN EMPLOYEE D ON A.EMP_NO = D.EMP_NO
JOIN COMMON_CODE E ON B.UNIT_CODE = E.CODE_ID
</select>

<!-- 상세 페이지 -->
<select id="inv_detail" resultType="kr.co.codea.inventory.InventoryDTO">
SELECT A.INVENTORY_CODE, COALESCE(A.UPDATED_AT, A.CREATED_AT) AS UPDATED_AT, B.ITEM_CODE, B.ITEM_NAME, B.ITEM_TYPE, B.SPEC, A.AVERAGE_COST, E.CODE, A.CURRENT_QTY, C.WH_CODE, C.WH_NAME, A.EMP_NO, D.EMP_NAME, D.HP, A.REMARK
FROM INVENTORY A
JOIN ITEM B ON A.ITEM_ID = B.ITEM_ID
JOIN WAREHOUSE C ON A.WH_ID = C.WH_ID
JOIN EMPLOYEE D ON A.EMP_NO = D.EMP_NO
JOIN COMMON_CODE E ON B.UNIT_CODE = E.CODE_ID
WHERE INVENTORY_ID = #{inventoryId}
</select>

<!-- 등록 및 페이지 제품 검색 -->
<select id="inv_sea_item" resultType="kr.co.codea.inventory.InventoryDTO">
SELECT B.ITEM_CODE, B.ITEM_NAME, B.ITEM_TYPE, B.SPEC, C.CODE
FROM INVENTORY A
JOIN ITEM B ON A.ITEM_ID = B.ITEM_ID
JOIN COMMON_CODE C ON B.UNIT_CODE = C.CODE_ID
</select>

<!-- 등록 및 수정 페이지 창고 검색 -->
<select id="inv_sea_wh" resultType="kr.co.codea.inventory.InventoryDTO">
SELECT B.WH_CODE, B.WH_NAME, B.ADDRESS, B.ADDRESS_DETAIL
FROM INVENTORY A
JOIN WAREHOUSE B ON A.WH_ID = B.WH_ID
</select>

<!-- 등록 및 수정 페이지 담당자 검색 -->
<select id="inv_sea_emp" resultType="kr.co.codea.inventory.InventoryDTO">
SELECT B.EMP_NO, B.EMP_NAME, B.HP
FROM INVENTORY A
JOIN EMPLOYEE B ON A.EMP_NO = B.EMP_NO
</select>

<!-- 등록 페이지 저장 -->
<insert id="inv_write" parameterType="kr.co.codea.inventory.InventoryDTO">
INSERT INTO INVENTORY
VALUES (#{ITEM_ID},#{WH_ID},#{CURRENT_QTY},#{EXPECTED_QTY},#{ALLOCATED_QTY},#{AVERAGE_COST},#{EMP_NO},#{REMARK},SYSDATE)
</insert>

</mapper>