<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.codea.inventory.InventoryMapper">

<insert id="inv_write" parameterType="kr.co.codea.inventory.InventoryDTO">
INSERT INTO INVENTORY
VALUES (#{INVENTORY_CODE},#{ITEM_ID},#{WH_ID},#{CURRENT_QTY},#{EXPECTED_QTY},#{ALLOCATED_QTY},#{AVERAGE_COST},#{EMP_NO},#{REMARK},SYSDATE)
</insert>

</mapper>