<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.codea.receiving.ReceivingMapper">

<select id="rec_list" resultType="kr.co.codea.receiving.ReceivingDTO">
SELECT A.INOUT_ID, A.INOUT_TIME, B.ITEM_CODE, B.ITEM_NAME, B.ITEM_TYPE,
CASE
	WHEN A.SOURCE_DOC_TYPE = 43 THEN C.PLAN_ID
	WHEN A.SOURCE_DOC_TYPE = 41 THEN D.PURCHASE_CODE
END AS ORDER_OR_PLAN_NO,
CASE
	WHEN A.INOUT_TYPE = 22 THEN C.COMPLETION_DATE
	WHEN A.INOUT_TYPE = 23 THEN D.ORDER_DATE
END AS ORDER_OR_PLAN_DATE,
A.QUANTITY, E.WH_NAME
FROM INOUT A
JOIN ITEM B ON A.ITEM_ID = B.ITEM_ID
LEFT JOIN PRODUCTION_PLAN C ON TO_CHAR(A.SOURCE_DOC_HEADER_ID) = C.PLAN_ID AND A.SOURCE_DOC_TYPE = 43
LEFT JOIN PURCHASE_HEADER D ON A.SOURCE_DOC_HEADER_ID = D.PURCHASE_ID AND A.SOURCE_DOC_TYPE = 41
JOIN WAREHOUSE E ON A.WH_ID = E.WH_ID
JOIN EMPLOYEE F ON A.EMP_ID = F.EMP_ID
</select>

</mapper>